@model Biblioteca.ViewModels.LivroViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Confirma exclusão deste palestrante ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoPublicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoPublicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEmprestimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraEmprestimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LivroFoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LivroFoto)
        </dd>
        <dd class="col-sm-10">
            <img src="~/Uploads/@Model.ImagemExistente" class="img-thumbnail" height="180" width="180" asp-append-version="true" />
        </dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i> Excluir</button>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i> Alterar</a>
        <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i> Voltar</a>
    </form>
</div>
