@model IEnumerable<Biblioteca.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h2>Livros</h2>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Incluir</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraEmprestimo)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/Uploads/@item.Foto" height="70" width="50" asp-append-version="true" />
                </a>
            </td>
            <td>
                @item.Titulo)
            </td>
            <td>
                @item.Descricao)
            </td>
            <td>
                @item.Editora)
            </td>
            <td>
                @item.AnoPublicacao)
            </td>
            <td>
                @item.DataEmprestimo.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.HoraEmprestimo.ToString("H:mm")
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a> |
            </td>
        </tr>
        }
    </tbody>
</table>